
{% extends 'studentPanel/student_base.html' %}
{% comment %} {% extends 'adminPanel/base.html' %} {% endcomment %}
{% load static %}
{% block title %}Fee Receipt Status{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto p-8 bg-white rounded-lg shadow-md mt-10 text-center">
    {% if receipt %}
        {% if receipt.status == "pending" %}
            <h2 class="text-yellow-500 text-2xl font-bold">Your payment is under review</h2>
        {% elif receipt.status == "approved" %}
            <h2 class="text-green-600 text-2xl font-bold">Payment Approved!</h2>
            <a href="{% url 'download_invoice' receipt.transaction_id  %}" class="inline-block mt-4 bg-green-600 text-white py-2 px-6 rounded hover:bg-green-700">
                Download Receipt
            </a>
        {% else %}
            <h2 class="text-red-600 text-2xl font-bold">Payment Rejected! Please contact Admin.</h2>
        {% endif %}
    {% else %}
        <p class="text-gray-500">No payment initiated yet.</p>
    {% endif %}
</div>
{% endblock %}